* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Mulish-Regular;
  src: url("../fonts/Mulish-Regular.ttf");
}

@font-face {
  font-family: Mulish-Medium;
  src: url("../fonts/Mulish-Medium.ttf");
}

@font-face {
  font-family: Mulish-Bold;
  src: url("../fonts/Mulish-Bold.ttf");
}

@font-face {
  font-family: Mulish-Black;
  src: url("../fonts/Mulish-Black.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #ebf8fe;
}

#root {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#root > header {
  grid-area: header;
}

#root > main {
  grid-area: main;
}

#root > footer {
  grid-area: footer;
}

h1 {
  font-family: Mulish-Black;
  font-size: calc(1.425rem + 2.1vw);
  color: #080808;
}

h2,
h3 {
  font-family: Mulish-Bold;
  color: #080808;
}

p,
.form-control,
.a__header {
  font-family: Mulish-Medium;
  color: #080808;
}

textarea {
  resize: none;
}

.form-control {
  border: 2px solid #00aaff;
  border-radius: 1rem;
  padding: 0.5rem;
}

button[type="submit"] {
  width: 25%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 4rem;
}

header {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

footer {
  width: 100%;
  background-color: #3597c9;
  padding-top: 1rem;
}

.list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.list__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.li__list__header {
  &:nth-child(1) {
    margin-right: 2rem;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.a__header {
  color: black;
  text-decoration: none;

  &:hover {
    color: #00aaff;
  }
}

.card {
  padding: 1rem;
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 1rem;
  max-width: 560px;
  margin-right: 1rem;
}

.btn {
  font-family: Mulish-Medium;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-primary {
  background-color: #00aaff;
  &:hover {
    background-color: #45bcf8;
  }
}

.btn-danger {
  background-color: #dc3545;
  &:hover {
    background-color: #ff5465;
  }
}

.btn-large {
  padding: 1rem 3rem;
  font-size: 1rem;
}

.position-relative {
  position: relative;
}

.position-bottom {
  position: absolute;
  bottom: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.color-green {
  color: #92da63;
}

.color-blue {
  color: #00aaff;
}
